body {
  background-color: lightblue;
}

/* http://stackoverflow.com/a/21282059/127880 */

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/* http://stackoverflow.com/a/21437955 */

@media (min-width: 768px) {

  .sed-input {
    margin-right: 7px;
  }

  .sed-output {
    margin-left: 7px;
  }
}

.no-gutter textarea {
  resize: vertical;
  min-height: 34px;
}

/* else */

#sed-cmd {
  min-height: 34px;
  resize: vertical;
}

.footer { margin: 25px; }